* { box-sizing: border-box; margin: 0; padding: 0; }

.clearfix { clear: both; }

#board { text-align: center; width: 702px; height: 602px; border: thin solid red;}
.row { width: 100%;}
.cel { width: 100px; height: 100px; border: thin solid black; float: left; font-size: 40px; padding-top: 21px;}
