.xanxus {
  width: 75px;
  height: 126px;
  background: url("Xanxusprite2.png");
  animation: run 1s steps(9) forwards, h 0s linear 1s infinite forwards;
  position: absolute;
  left: 600px;
  top: 460px;
}

.tsuna {
  width: 150px;
  height: 136px;
  background: url("Tsunasprite1.png");
  animation: run2 1s steps(11), h 0s linear 1s infinite forwards;
  position: absolute;
  left: 180px;
  top: 476px;
}

.tsunattack {
  width: 125px;
  height: 136px;
  background: url("Tsunaattack.png");
  animation: h 0s linear 0s infinite forwards, a 0s linear 1s infinite forwards, attack 1s steps(14) 1s, out 1s linear 1s forwards;
  position: absolute;
  left: 190px;
  top: 482px;
}

.xanxusjump {
  width: 100px;
  height: 180px;
  background-image: url("Xanxusjump.png");
  animation: h 0s linear 0s infinite forwards, a 0s linear 1s infinite forwards, jump 1s steps(8) 1s 1 forwards, h 0s linear 2s infinite forwards;
  position: absolute;
  left: 600px;
  top: 420px;
}

.xanxusattack {
width: 130px;
height: 130px;
background-image: url("Xanxusattack.png");
animation: h 0s linear 0s infinite forwards, a 0s linear 2s infinite forwards, attack2 1s steps(11) 2s 1 forwards;
position: absolute;
left: 565px;
top: 470px;
}

.xanxusflame {
  width: 100px;
  height: 110px;
  background-image: url("Xanxusflame.png");
  animation: h 0s linear 0s infinite forwards, a 0s linear 2s infinite forwards, xanxusflame 0.9s steps(7) 2s 1 forwards;
  position: absolute;
  left: 555px;
  top: 470px;
}

.tsunablock {
  width: 300px;
  height: 125px;
  background-image: url("Tsunablock.png");
  animation: h 0s linear 0s infinite forwards, a 3s linear 2s infinite forwards, tsunablock 1s steps (3) 1s 1 forwards;
  position: absolute;
  left: 190px;
  top: 482px;
}

@keyframes run {
    100% { background-position: -675px; }
}

@keyframes jump {
    100% { background-position: -800px; }
}

@keyframes out {
    100% { margin-left: 190px; }
}

@keyframes run2 {
    100% { background-position: -1650px;}
}

@keyframes attack {
    100% { background-position: -1750px;}
}

@keyframes attack2 {
    100% { background-position: -1430px;}
}

@keyframes xanxusflame {
    100% { background-position: -700px;}
    from { left: 555px; }
    to { left: 415px; }
}

@keyframes tsunablock {
  100% { background-position: -300px;}
}

@keyframes a {
  from { opacity: 0; visibility: hidden; }
  to { opacity: 1; visibility: visible; }
}

@keyframes h {
  from { opacity: 1; visibility: visible; }
  to { opacity: 0; visibility: hidden; }
}

body {
background-image: url("background.png");
background-repeat: no-repeat;
background-size: 920px;
position: relative;
}
